### For Loop in Python

In [1]:
list_example = ["turkey", "france", "germany", "usa", "united kingdom"]

for i in list_example:
    print(i.title())

Turkey
France
Germany
Usa
United Kingdom

### For Loop in Python(Reinforcing the Topic)

In [5]:
personel_salary = [2000, 2500, 2250, 2350, 2000, 2850, 2750, 3000, 2650, 2500]

In [11]:
new_salary = []

for i in personel_salary:
    increased_salary =  i + (i * 10 / 100)
    new_salary.append(increased_salary)
    
print(new_salary)

[2200.0, 2750.0, 2475.0, 2585.0, 2200.0, 3135.0, 3025.0, 3300.0, 2915.0, 2750.0]

### Using Conditional Expressions and For Loop Together

In [14]:
personel_salary = [2000, 2500, 2250, 2350, 2000, 2850, 2750, 3000, 2650, 2500]

In [15]:
new_salary = []

for i in personel_salary:
    if i < 2300:
        increased_salary1 = i + (i * 20 / 100)
        new_salary.append(increased_salary1)
    elif 2300 <= i <= 2500:
        increased_salary2 = i + (i * 15 / 100)
        new_salary.append(increased_salary2)
    elif i > 2500:
        increased_salary3 = i + (i * 10 / 100)
        new_salary.append(increased_salary3)

print(new_salary)

[2400.0, 2875.0, 2700.0, 2702.5, 2400.0, 3135.0, 3025.0, 3300.0, 2915.0, 2875.0]

### Continue Command

In [16]:
personel_salary = [2000, 2500, 2250, 2350, 2000, 2850, 2750, 3000, 2650, 2500]

In [30]:
new_salary = []

for i in personel_salary:
    if i == 2500:
        continue
    elif i < 2300:
        increased_salary1 = i + (i * 20 / 100)
        new_salary.append(increased_salary1)
    elif 2300 <= i <= 2500:
        increased_salary2 = i + (i * 15 / 100)
        new_salary.append(increased_salary2)
    elif i > 2500:
        increased_salary3 = i + (i * 10 / 100)
        new_salary.append(increased_salary3)

print(new_salary)

[2400.0, 2700.0, 2702.5, 2400.0, 3135.0, 3025.0, 3300.0, 2915.0]

### Break Command

In [31]:
personel_salary = [2000, 2500, 2250, 2350, 2000, 2850, 2750, 3000, 2650, 2500]

In [32]:
personel_salary.sort()

In [33]:
print(personel_salary)

[2000, 2000, 2250, 2350, 2500, 2500, 2650, 2750, 2850, 3000]

In [34]:
new_salary = []

for i in personel_salary:
    if i == 2750:
        break
    elif i < 2300:
        increased_salary1 = i + (i * 20 / 100)
        new_salary.append(increased_salary1)
    elif 2300 <= i <= 2500:
        increased_salary2 = i + (i * 15 / 100)
        new_salary.append(increased_salary2)
    elif i > 2500:
        increased_salary3 = i + (i * 10 / 100)
        new_salary.append(increased_salary3)

print(new_salary)

[2400.0, 2400.0, 2700.0, 2702.5, 2875.0, 2875.0, 2915.0]

### List Comprehension

In [15]:
list_example = ["adam", "joseph", "mariam", "donald"]

In [16]:
upper_list = []

for i in list_example:
    x = i.upper()
    upper_list.append(x)

In [17]:
print(upper_list)

['ADAM', 'JOSEPH', 'MARIAM', 'DONALD']

In [18]:
[i.upper() for i in list_example]

['ADAM', 'JOSEPH', 'MARIAM', 'DONALD']

In [21]:
upper_list2 = [i.upper() for i in list_example]

In [22]:
print(upper_list2)

['ADAM', 'JOSEPH', 'MARIAM', 'DONALD']

### While Loop in Python

In [3]:
number = 0

while number < 10:
    print(number)
    number += 1

0
1
2
3
4
5
6
7
8
9

### While Loops in Python Reinforcing the Topic

In [2]:
number = int(input("Please enter a number: "))
number = int((number*10/8) + (number*8) + (number/5) + (number*2) - (number*2/5))

counter = 0

while True:
    counter += 1
    estimate = int(input("Please guess the number: "))
    
    if estimate < number:
        print("increase the number")
    elif estimate > number:
        print("reduce the number")
    elif estimate == number:
        print("You guessed the correct number. {}".format(number))
        break

Please enter a number:  10
Please guess the number:  40

increase the number

Please guess the number:  60

increase the number

Please guess the number:  130

reduce the number

Please guess the number:  120

reduce the number

Please guess the number:  110

You guessed the correct number. 110

In [3]:
number

110

### Getting know to the Functions

In [5]:
print

In [13]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

### How to Write Function

In [8]:
def cube(x):
    x ** 3

In [9]:
type(cube)

function

In [10]:
cube(3)

In [11]:
def new_cube(x):
    print(x ** 3)

In [12]:
new_cube(3)

27

In [17]:
new_cube(2)

8

### Return Expression in Functions

In [29]:
def new_cube(x):
    print(x ** 3)

In [30]:
new_cube(2)

8

In [18]:
type(new_cube(2))

8

NoneType

In [31]:
new_cube(2) * 5

8

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [37]:
def new_cube2(x):
    return x ** 3

In [41]:
new_cube2(3)

27

In [42]:
type(new_cube2(3))

int

In [44]:
new_cube2(3) * 2

54

### Writing Functions with Multiple Argument

In [7]:
def hypotenuse(a, b):
    print((a ** 2 + b ** 2) ** 0.5)

In [8]:
hypotenuse(3, 4)

5.0

In [9]:
hypotenuse(6, 8)

10.0

### Writing Docstring in Functions

In [4]:
def hypotenuse(a, b):
    print((a ** 2 + b ** 2) ** 0.5)

In [ ]:
hypotenuse()

In [6]:
def new_hypotenuse(a, b):
    """
    Hypotenuse function; It is used to get the hypotenuse in a right triangle
    -------------------------
    Arguments:
    
    a = First side of right triangle
    b = Second side of right triangle
    """
    print((a ** 2 + b ** 2) ** 0.5)

In [ ]:
new_hypotenuse()

In [10]:
?new_hypotenuse

Signature: new_hypotenuse(a, b)
Docstring:
Hypotenuse function; It is used to get the hypotenuse in a right triangle
-------------------------
Arguments:

a = First side of right triangle
b = Second side of right triangle
File:      c:\users\alica\desktop\python_work_file\<ipython-input-6-b4717b2851df>
Type:      function

### Using Functions and Conditional Expressions Together

In [28]:
def calculate_salary(x):
    """
    This function outputs the increased state of the salaries.
    ------------------------------
    Argument:
    x : salary 
    """
    if x < 2500:
        increased_salary1 = x + (x * 20 / 100)
        return increased_salary1
    elif 2500 <= x < 3500:
        increased_salary2 = x + (x * 15 / 100)
        return increased_salary2
    else:
        increased_salary3 = x + (x * 10 / 100)
        return increased_salary3

In [30]:
calculate_salary(2000)

2400.0

In [31]:
calculate_salary(3000)

3450.0

In [32]:
calculate_salary(4000)

4400.0

In [33]:
calculate_salary(4000) + 100

4500.0

### Arguments and Parameters

In [40]:
def student_id(name, lastname, age):
    print("Student name:", name)
    print("Student lastname:", lastname)
    print("Student age:", age)

In [41]:
student_id("Joseph", "Rye", 29)

Student name: Joseph
Student lastname: Rye
Student age: 29

In [42]:
student_id("Abraham")

TypeError: student_id() missing 2 required positional arguments: 'lastname' and 'age'

In [43]:
def student_id(name, lastname, age):
    print("Student name:", name)
    print("Student lastname:", lastname)
    print("Student age:", age)

In [44]:
student_id(age = 29, name = "Joseph", lastname = "Rye")

Student name: Joseph
Student lastname: Rye
Student age: 29

In [45]:
def student_id(name, lastname, age = 29):
    print("Student name:", name)
    print("Student lastname:", lastname)
    print("Student age:", age)

In [46]:
student_id("joseph", "Rye")

Student name: joseph
Student lastname: Rye
Student age: 29

In [47]:
student_id("Joseph", "Rye", age = 32)

Student name: Joseph
Student lastname: Rye
Student age: 32

### High Level Operations with Arguments

In [66]:
def odd_even(*number):
    even = []
    odd = []
    for i in number:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    print(even)
    print(odd)

In [67]:
odd_even(1, 5, 8, 9, 15, 18, 22, 116, 1256, 14)

[8, 18, 22, 116, 1256, 14]
[1, 5, 9, 15]

In [68]:
def football(**team):
    for key, value in team.items():
        print(key, "is in", value)

In [72]:
dict_example = {"Arsenal" : "England",
                "Barcelona" : "Spain",
                "Galatasaray" : "Turkey",
                "Inter" : "Italy"}

In [75]:
football(**dict_example)

Arsenal is in England
Barcelona is in Spain
Galatasaray is in Turkey
Inter is in Italy

### all(), any() Functions

In [ ]:
# all() function

In [23]:
countries = ["USA", "FRANCE", "JAPAN", "ITALY"]
names = ["JULIA", "AHMET", "ABRAHAM", "SUSAN", 0]
empty = {}

In [24]:
print(all(countries))
print(all(names))
print(all(empty))

True
False
True

In [25]:
# any() function

In [26]:
countries = ["USA", "FRANCE", "JAPAN", "ITALY"]
names = ["JULIA", "AHMET", "ABRAHAM", "SUSAN", 0]
empty = {}

In [27]:
print(any(countries))
print(any(names))
print(any(empty))

True
True
False

### map() Function

In [9]:
phone_brand = ["Ä±phone", "samsung", "huawei", "nokia", "xiaomi"]

In [49]:
def lenght(x):
    return len(x)

In [52]:
map(lenght, phone_brand)

In [53]:
list(map(lenght, phone_brand))

[6, 7, 6, 5, 6]

In [54]:
variable = list(map(lenght, phone_brand))

In [55]:
print(variable)

[6, 7, 6, 5, 6]

### filter() Function

In [65]:
list1 = [1, 15, 25, 18, 25, 32, 50, 45, 9, 12, 13, 17, 18, 25, 35, 41, 11, 7, 6, 18, 22]

In [57]:
def compare(x):
    return x < 20

In [63]:
filter(compare, list1)

In [61]:
list(filter(compare, list1))

[1, 15, 18, 9, 12, 13, 17, 18, 11, 7, 6, 18]

In [62]:
variable = list(filter(compare, list1))

In [64]:
print(variable)

[1, 15, 18, 9, 12, 13, 17, 18, 11, 7, 6, 18]

### zip() Function

In [73]:
list1 = ["a", "b", "c", "d", "e"]
list2 = [1, 2, 3, 4]

In [74]:
zip(list1 , list2)

In [75]:
print(list(zip(list1 , list2)))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

### enumerate() Function

In [76]:
list_example = ["egypt", "denmark", "sweden", "norway", "turkey"]

In [86]:
enumerate(list_example)

In [89]:
print(list(enumerate(list_example)))

[(0, 'egypt'), (1, 'denmark'), (2, 'sweden'), (3, 'norway'), (4, 'turkey')]

In [90]:
print(dict(enumerate(list_example, start = 2)))

{2: 'egypt', 3: 'denmark', 4: 'sweden', 5: 'norway', 6: 'turkey'}

### max(), min() Functions

In [91]:
number_list = [-50, 60, 40, 128, 196, -2, -55, 67, 156, 100, 6, -38]

In [92]:
largest_number = max(number_list)

In [93]:
print(largest_number)

196

In [94]:
min(number_list)

-55

### sum() Function

In [95]:
list1 = [10, 5, -20, 15.8]

In [99]:
sum(list1)

10.8

### round() Function

In [128]:
print(round(15))

15

In [129]:
print(round(12.5))

12

In [130]:
print(round(12.6))

13

In [134]:
print(round(5.665, ndigits = 2))

5.67

### Lambda Function

In [140]:
def cube(x):
    return x ** 3

In [141]:
cube(3)

27

In [146]:
(lambda x: x ** 3)(3)

27

In [147]:
example = (lambda x: x ** 3)

In [152]:
example(3)

27

In [169]:
average = lambda x, y: (x + y) / 2

In [170]:
average(2,6)

4.0

In [155]:
odd_even = lambda x: "even" if x % 2 == 0 else "odd"

In [160]:
odd_even(1)

'odd'

In [158]:
odd_even(10)

'even'

In [161]:
list1 = [1, 2, 10, 15, 28]

In [164]:
for i in list1:
    print(i, ":", (lambda x: "even" if x % 2 == 0 else "odd")(i))

1 : odd
2 : even
10 : even
15 : odd
28 : even

In [165]:
map(lambda x: "even" if x % 2 == 0 else "odd", list1)

In [166]:
list(map(lambda x: "even" if x % 2 == 0 else "odd", list1))

['odd', 'even', 'even', 'odd', 'even']

### Local and Global Variables

In [2]:
a = 15
b = 5

In [3]:
def division(a, b):
    return(a / b)

In [4]:
division(8, 4)

2.0

In [5]:
print(a)
print(b)

15
5

### Features of Class

In [25]:
class data_scientist():
    extra = "yes"
    prog_lang = []
    experience = 0

In [26]:
data_scientist.experience

0

In [27]:
data_scientist.prog_lang

[]

In [28]:
data_scientist.experience = 1

In [29]:
data_scientist.experience

1

### Instantiation of Class

In [54]:
class data_scientist():
    extra = "yes"
    prog_lang = []
    experience = 0

In [55]:
joseph = data_scientist()

In [56]:
type(data_scientist())

__main__.data_scientist

In [57]:
type(joseph)

__main__.data_scientist

In [58]:
joseph.extra

'yes'

In [59]:
joseph.experience

0

In [60]:
joseph.prog_lang.append("Python")
joseph.prog_lang.append("Sql")
joseph.prog_lang.append("R")

In [61]:
joseph.prog_lang

['Python', 'Sql', 'R']

In [62]:
alex = data_scientist()

In [63]:
alex.extra

'yes'

In [64]:
alex.prog_lang

['Python', 'Sql', 'R']

### Attribute of Instantiation

In [67]:
class data_scientist():
    def __init__(self):
        self.extra = "yes"
        self.prog_lang = []
        self.experience = 0

In [68]:
joseph = data_scientist()

In [69]:
joseph.prog_lang

[]

In [70]:
alex = data_scientist()

In [71]:
alex.prog_lang

[]

In [72]:
joseph.prog_lang.append("Sql")

In [73]:
joseph.prog_lang

['Sql']

In [74]:
alex.prog_lang

[]

In [75]:
alex.prog_lang.append("Python")

In [80]:
alex.prog_lang

['Python']

In [78]:
data_scientist.prog_lang

AttributeError: type object 'data_scientist' has no attribute 'prog_lang'

In [82]:
class data_scientist():
    extra = "yes"
    prog_lang = ["Python", "Sql", "R", "C++"]
    experience = 0
    def __init__(self):
        self.extra = "yes"
        self.prog_lang = []
        self.experience = 0

In [83]:
data_scientist.prog_lang

['Python', 'Sql', 'R', 'C++']

In [84]:
joseph.prog_lang

['Sql']

In [85]:
alex.prog_lang

['Python']

### Write Function in the Class

In [9]:
class data_scientist():
    extra = "yes"
    prog_lang = ["Python", "Sql", "R", "C++"]
    experience = 0
    def __init__(self):
        self.extra = "yes"
        self.prog_lang = []
        self.experience = 0
    def add_language(self, language):
        self.prog_lang.append(language)

In [10]:
dir(data_scientist)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_language',
 'experience',
 'extra',
 'prog_lang']

In [11]:
abraham = data_scientist()

In [12]:
abraham.prog_lang

[]

In [13]:
data_scientist.add_language(abraham, "Python")

In [14]:
abraham.prog_lang

['Python']

In [15]:
data_scientist.prog_lang

['Python', 'Sql', 'R', 'C++']

### Inheritance Structure

In [71]:
class vehicles():
    brand = ""
    model_year = ""
    color = ""

In [72]:
class cars():
    def __init__(self):
        self.model = ""

In [73]:
class motorcycles():
    def __init__(self):
        self.kind = ""

In [74]:
car1 = cars()

In [59]:
car1.model

''

In [75]:
class cars(vehicles):
    def __init__(self):
        self.model = []

In [76]:
car1 = cars()

In [47]:
car1.

'ali'

In [62]:
car1.brand

''

In [63]:
car1.brand = "ferrari"

In [64]:
car1.brand

'ferrari'

In [77]:
vehicles.brand

''

In [83]:
class motorcycles(vehicles):
    def __init__(self):
        self.kind = ""

In [84]:
motorcycle1 = motorcycles()

In [85]:
motorcycle1.

SyntaxError: invalid syntax (<ipython-input-85-75950a08beff>, line 1)

In [86]:
motorcycle1.brand

''